body {
  background-color: #FAFAD2;
}

.jumbotron {
  font-style: italic;
  color: 	#4B0082
}

.history {
  text-align: center;
  color: #880000;
}

h3 {
  text-decoration: underline;
  font-family :fantasy;
}

.btn-default {
  width: center;
  color: 	#B22222;

}


.form-control {
   color:#0000FF;
   font-family: fantasy;;

 }

.pizzapic {
  width: 50%;
  float: left;
}

#order {
  padding-bottom: 35px;

}
